@media only screen and (min-width: 600px) {
  .App {
    text-align: center;
  }
  .input-box {
    margin: 0;
    padding: 1.5rem;
    width: 30%;
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 20px 0px 0px 20px;
    font-size: 20px;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.2);
    transition: 0.2s;
  }
  .input-box:hover {
    box-shadow: 3px 3px 15px rgb(0, 0, 0, 0.4);
    transition: 0.3s;
  }
  .input-box:focus {
    background-color: rgb(221, 221, 221);
  }
  .search-button {
    margin: 0;
    padding: 1.5rem;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: rgb(31, 31, 31);
    color: white;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  .search-button:hover {
    box-shadow: 3px 3px 15px rgb(0, 0, 0, 0.4);
    background-color: rgb(53, 53, 53);
    cursor: pointer;
    transition: 0.3s;
  }
  .data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    width: 60%;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.2);
    background-color: white;
    height: 150px;
  }
  .data-to-display {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
  }
  .item {
    padding: 0rem;
    width: 20%;
    text-align: left;
  }
  .item-left {
    padding-left: 4rem;
  }
  .item-right {
    padding-right: 4rem;
  }
  .vl {
    border-left: 1px solid rgb(202, 202, 202);
    height: 80px;
  }
  .background-picture {
    background-image: url("./pattern-bg.png");
    height: 290px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
  }
  h5 {
    color: rgb(151, 151, 151);
    display: flex;
  }
  .loader {
    position: absolute;
    left: 4rem;
  }
  .map {
    position: absolute;
    top: 290px;
    width: 100%;
    height: calc(100% - 290px);
    z-index: -1;
  }
  .leaflet-container {
    width: 100%;
    height: 100%;
  }
  .github-link {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    transition: 0.3s;
  }
  .github-link:hover {
    transform: translateY(-4px);
    transition: 0.3s;
    cursor: pointer;
  }
}
@media only screen and (max-width: 599px) {
  .App {
    text-align: center;
  }
  .input-box {
    margin: 0;
    padding: 1.5rem;
    width: 60%;
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 20px 0px 0px 20px;
    font-size: 20px;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.2);
    transition: 0.2s;
  }

  .input-box:focus {
    background-color: rgb(221, 221, 221);
  }
  .search-button {
    margin: 0;
    padding: 1.5rem;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: rgb(31, 31, 31);
    color: white;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  .search-button:hover {
    box-shadow: 3px 3px 15px rgb(0, 0, 0, 0.4);
    background-color: rgb(53, 53, 53);
    cursor: pointer;
    transition: 0.3s;
  }
  .data {
    justify-content: space-around;
    position: relative;
    align-items: center;
    border-radius: 20px;
    width: 85%;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.2);
    background-color: white;
    padding-top: 1rem;
  }
  .data-to-display {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
  }
  .item {
    text-align: center;
    width: 100%;
  }
  .vl {
    height: 0px;
  }
  .background-picture {
    background-image: url("./pattern-bg.png");
    height: 350px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
  }
  h5 {
    color: rgb(151, 151, 151);
    margin: 0;
  }
  h2 {
    margin: 0;
    margin-bottom: 1rem;
  }
  .loader {
    position: absolute;
    left: 4rem;
  }
  .map {
    position: absolute;
    top: 350px;
    width: 100%;
    height: calc(100% - 350px);
    z-index: -1;
  }
  .leaflet-container {
    width: 100%;
    height: 100%;
  }
  .github-link {
    position: absolute;
    bottom: 1.5rem;
    right: 1rem;
    transition: 0.3s;
  }
}
a {
  color: black;
  text-decoration: none;
}
